Host aws-rancher-admin
	User rancher
	Hostname 54.183.204.103

Host aws-rancher-host01
	User rancher
	Hostname 172.31.13.224
	ProxyCommand ssh -q -W %h:%p aws-rancher-admin

Host aws-rancher-host02
	User rancher
	Hostname 172.31.13.225
	ProxyCommand ssh -q -W %h:%p aws-rancher-admin

Host aws-rancher-host03
	User rancher
	Hostname 172.31.13.226
	ProxyCommand ssh -q -W %h:%p aws-rancher-admin
